version: '3.8'

services:
  mongodb:
    image: mongo
    container_name: Travel_MongoDB
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db      # Volumen para persistir los datos

volumes:
  mongodb_data: